/*
** Define colors
** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
$black: #000025ef;
$dark-blue: #1e3462;
$blue: #3123ae;
$bright-blue: #32caf0;
$light-blue: #8cd0e7;
$purple: #5c3a8d;
$red: #d0021b;
$orange: #f5a623;
$light-grey: #e0e0e0;
$white: #fafafa;

/*
** Define breakpoints and min size of the page
** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/

html,
body {
  min-width: 300px;
}

$breakpoint-xs: 360px;
$breakpoint-sm: 768px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;
$breakpoint-xl: 1500px;

/*
** Define fonts
** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700,900");

@mixin nav-links {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: $white;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;

  text-transform: uppercase;

  &:hover {
    background-color: transparent !important;
    color: $black !important;
    cursor: pointer;
  }
}

@mixin header-title {
  font-family: "Poppins", sans-serif;
  font-size: 49px;
  color: $white;
  font-weight: 900;
  line-height: 49px;
  letter-spacing: 1px;

  text-transform: uppercase;

  & {
    @media screen and (max-width: $breakpoint-sm) {
      font-size: 39px;
      line-height: 49px;
    }

    @media screen and (max-width: $breakpoint-xs) {
      font-size: 36px;
      line-height: 46px;
    }
  }
}

@mixin header-subtitle {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  color: $white;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.5px;

  text-transform: none;

  margin-top: 15px;
}

@mixin sections-title {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  color: $black;
  font-weight: 900;
  line-height: 49px;
  letter-spacing: 0.73px;

  text-transform: none;
}

@mixin sections-subtitle {
  font-family: "OpenSans", sans-serif;
  font-size: 21px;
  color: $black;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.5px;

  text-transform: none;

  margin-top: 10px;
}

@mixin sections-content {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  color: $black;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.5px;

  text-transform: none;
}

@mixin image-title {
  font-family: "OpenSans", sans-serif;
  font-size: 32px;
  color: $white;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 1px;

  & {
    @media screen and (max-width: $breakpoint-sm) {
      font-size: 28px;
      line-height: 36px;
    }
  }
}

@mixin image-subtitle {
  font-family: "OpenSans", sans-serif;
  font-size: 28px;
  color: $white;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 1px;

  & {
    @media screen and (max-width: $breakpoint-sm) {
      font-size: 24px;
      line-height: 28px;
    }
  }
}

@mixin cc-title {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: $black;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0.8px;

  text-transform: uppercase;
}

@mixin cc-subtitle {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  color: $black;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.4px;

  text-transform: uppercase;
}

@mixin cc-slide-title {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  color: $black;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: 1px;

  text-transform: uppercase;
}

@mixin cc-slide-subtitle {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  color: $black;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.5px;

  text-transform: none;
}

@mixin cc-slide-content {
  font-family: "OpenSans", sans-serif;
  font-size: 24px;
  color: $black;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;

  text-transform: none;
}

@mixin footer-content {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  color: $white;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.4px;
}

/*
** Define container size per breakpoint
** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
@mixin main-width($size) {
  @include transition(1);
  @if $size == "small" {
    @media (max-width: $breakpoint-xs) {
      margin-right: 3% !important;
      margin-left: 3% !important;
    }
    @media (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm) {
      margin-right: 5% !important;
      margin-left: 5% !important;
    }
    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
      margin-right: 7.5% !important;
      margin-left: 7.5% !important;
    }
    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
      margin-right: 10% !important;
      margin-left: 10% !important;
    }
    @media (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl) {
      margin-right: 20% !important;
      margin-left: 20% !important;
    }
    @media (min-width: $breakpoint-xl) {
      max-width: 1000px;
      margin-right: auto !important;
      margin-left: auto !important;
    }
  } @else if $size == "normal" {
    @media (max-width: $breakpoint-xs) {
      margin-right: 1% !important;
      margin-left: 1% !important;
    }
    @media (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm) {
      margin-right: 2% !important;
      margin-left: 2% !important;
    }
    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
      margin-right: 3% !important;
      margin-left: 3% !important;
    }
    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
      margin-right: 5% !important;
      margin-left: 5% !important;
    }
    @media (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl) {
      margin-right: 10% !important;
      margin-left: 10% !important;
    }
    @media (min-width: $breakpoint-xl) {
      max-width: 1300px;
      margin-right: auto !important;
      margin-left: auto !important;
    }
  }
}

/*
** Mixin for responsive images in the Hooper Slider
** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
@mixin hooper-image-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  min-height: 350px;
  max-height: 350px;
  background-position: center;
  background-size: cover;
}

/*
** Mixin for transitions
** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/
@mixin transition($duration) {
  transition: all #{$duration}s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*
** Import bulma .sass files to be used
** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/

// General variables
@import "~~bulma/sass/utilities/_all.sass";

// General Reset
@import "~~bulma/sass/base/_all.sass";

// Forms
@import "~~bulma/sass/elements/form.sass";

// Buttons
@import "~~bulma/sass/elements/button.sass";

// Hero
@import "~~bulma/sass/layout/hero.sass";

// Navbar
@import "~~bulma/sass/components/navbar.sass";

// Level
@import "~~bulma/sass/components/level.sass";

// Grid, Columns & Tiles
@import "~~bulma/sass/grid/_all.sass";
